<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--<app-welcome></app-welcome>-->
<!-- <app-login></app-login> -->

<!--WHAT EVER IS ON THIS PAGE IS LOADED REGRADLESS OF THE COMPONENT BEING RENDERED AT THAT MOMENT AS THIS IS WHERE BOOTSTRAP LOOKS NOT AT YOUR INDIVIDUAL COMPONENTS-->
<app-menu></app-menu>
<div>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<!-- This tag is used for routingh -->
